<%= link_to room_path(room) do %>
        <div class="col-sm-6 col-lg-4 col-xl-3">
          <div class="room-frame-inner">
              <div class="room-image-out">
                <img alt="部屋画像" class="room-image" src="/assets/room01.jpg">
              </div>
              <div class="room-profile">
                <p class="room-profile-name"><%= room.room_name %></p>
                <p class="room-profile-city"><%= room.room_address %></p>
                <p class="room-profile-price price-icon"><%= room.room_fee %></p>
              </div>
          </div>
        </div>
      <% end %>