@import "bootstrap-sprockets";
@import "bootstrap";


.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.required-a::after {
    content: "必須";
    color: #fff;
    background-color: #ff0000a8;
    font-size: 12px;
    border-radius: 5px;
    padding: 4px;
    margin: 0 5px;
}

.room-show, .reservations-new {
    padding: 30px 0;
}

.nav li {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.top .top-main {
  background-image: url("<%= asset_path('cover_top.jpg') %>")
  background-size: cover;
  // width: 100%;
  // height: 650px;
}